# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Env
.env
.env.*
!.env.example

# DB
*.db
*.sqlite3
instance/

# IDE
.idea/
.vscode/

# Cache
.pytest_cache/
.mypy_cache/
.ruff_cache/

# OS
.DS_Store
Thumbs.db
